<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image"> <img src="~/html/assets/images/xs/pmb.jpg" width="48" height="48" alt="User" /> </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Pablo Batalla</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">Menü</li>
            <li>
                <a href="/Dashboard/Index/" class="menu-toggle"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>

            </li>
            <li><a href="/Category/CategoryList/"><i class="zmdi zmdi-album"></i><span>Kategoriler</span> </a></li>
            <li><a href="/Product/ProductList/"><i class="zmdi zmdi-cocktail"></i><span>Ürünler</span> </a></li>
            <li><a href="/Customer/CustomerList/"><i class="zmdi zmdi-assignment-account"></i><span>Müşteriler</span> </a></li>
            <li><a href="/Order/OrderList/"><i class="zmdi zmdi-shopping-cart"></i><span>Siparişler</span> </a></li>
            <li><a href="/Review/ReviewList/"><i class="zmdi zmdi-star-half"></i><span>Değerlendirmeler</span> </a></li>
            <li><a href="/Statistic/Index/"><i class="zmdi zmdi-chart"></i><span> Sayısal İstatistikler</span> </a></li>
            <li><a href="/Statistic/TextualStatistic/"><i class="zmdi zmdi-collection-text"></i><span> Metinsel İstatistikler</span> </a></li>
            <li><a href="/Forecast/PaymentMethodForecast/"><i class="zmdi zmdi-code"></i><span>Ödeme Yöntemleri Tahmini</span> </a></li>
            <li><a href="/Forecast/GermanyOrderSalesForecast/"><i class="zmdi zmdi-city"></i><span>Ülke Bazlı Şehir Sipariş Tahmini</span> </a></li>
            <li><a href="/Forecast/MostSalesProduct2026Forecast/"><i class="zmdi zmdi-case"></i><span>En Fazla Satılan Ürün Tahmini</span> </a></li>
            <li><a href="/CustomerForecast/Index/"><i class="zmdi zmdi-account-box"></i><span>Müşteri Analitiği</span> </a></li>
            <li><a href="/CustomerLoyalty/EnglandLoyaltyScore/"><i class="zmdi zmdi-toys"></i><span>Müşteri Sadakat Oranları</span> </a></li>
            <li><a href="/CustomerLoyalty/EnglandLoyaltyScoreWithML/"><i class="zmdi zmdi-rss"></i><span>ML İle Sadakat Tahminleri</span> </a></li>
            <li><a href="/Message/Index/"><i class="zmdi zmdi-notifications-active"></i><span>Mesaj Listesi</span> </a></li>
           
        </ul>
    </div>
    <!-- #Menu -->
</aside>
