<div class="card">
    <ul class="row profile_state list-unstyled">

        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-shopping-cart-plus col-amber"></i>
                <h4>@ViewBag.TotalOrderC</h4>
                <span>Toplam Sipariş Sayısı</span>
            </div>
        </li>

        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-accounts-add col-blue"></i>
                <h4>@ViewBag.CustomerCount</h4>
                <span>Toplam Müşteri Sayısı</span>
            </div>
        </li>

        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-assignment-o col-red"></i>
                <h4>@ViewBag.AverageQuantity</h4>
                <span>Ortalama Ürün Adet Alımı</span>
            </div>
        </li>

        <li class="col-lg-3 col-md-3 col-6">
            <div class="body">
                <i class="zmdi zmdi-calendar text-success"></i>
                <h4>@ViewBag.OctoberLastDayOrderCount</h4>
                <span>Ekim Ayı Son Gün Sipariş Sayısı</span>
            </div>
        </li>
    </ul>
</div>
